svg {
  &:hover {
    cursor: pointer;
  }
}

.delete {
  color: #a63d40;
}

.edit {
  color: #e9b872;
}

.save {
  background-color: #90a959;
  color: #fff;

  &:hover {
    background-color: #758a48;
  }
}

thead {
  background-color: #d1d1d1;
  th {
    color: #fff;
    font-weight: bold;
  }
}
